
button {
    width: 100%;
    text-align: center;
    margin: 3%;
    padding: 0;
}
#post {
    background-color: #c7e8ac;
    width: 40%;
    height: 6vh;
}
#del {
    background-color: #cccccc;
}
#exp {
    font-style: italic;
    font-size: 0.8em;
    text-align: center;
}
.head {
    font-weight: bold;
}
label {
    font-weight: normal;
}
#tren {
    padding-right: 0;
    padding-left: 7%;
}
#inhead {
    width: 100%;
    height: 6vh;
}
#post_plus {
    border: 2px solid gray;
}